
.admin-container {
  padding: 20px;
  text-align: center;
  position: relative;
  /* Cambiado a columna para que los elementos no se extiendan horizontalmente */
  justify-content: center;
  align-items: center;
  display: flex;
  height: auto;
  width: 100%;
  /* Ancho del 90% del tamaño de la ventana */
  max-width: 700px;
  /* Máximo ancho de 700px */
  margin: 0 auto;
  /* Centra el contenedor horizontalmente */
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 10px;
  color: white;

}

.content-container {
  margin-top: 20px;
  /* Añade un margen superior al contenido */
}


.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

.form-container {
  margin-bottom: 20px;
}

.form-container input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 7px;
  border: 1px solid #ccc;
}

.form-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: #218838;
}

.torneos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.torneo-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 250px;
  text-align: left;
}

.torneo-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.torneo-card p {
  margin: 5px 0;
}

.torneo-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.torneo-actions button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.torneo-actions button:hover {
  background-color: #0056b3;
}

.no-torneos {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}


.torneos-container .torneo-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  color: #003670;
}


.torneo-image {
  width: 100%;
  max-height: 100px;
  /* ajusta el tamaño máximo de la imagen según tus necesidades */
  object-fit: cover;
  /* para asegurarte de que la imagen se ajuste correctamente */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}